body {
    background-image: url(background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1 {
    color: rgb(4, 4, 83);
    text-align: center;
    font-family: fantasy;
    border: 2px solid #000000;
    background-color: #cecbcb;
}
img {
    border: 2px solid #000000;
}
h2 {
    color: rgb(66, 66, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}