/*
body {
    background-image: url(background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.container-flex {
    display: flex;
    gap: 20px;
}
.retangulo {
    width: 1200;
    height: auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #f0f0f0;
    margin: 2px;
    border-radius: 8px;
}
.retangulo-interno {
    width: 1200px;
    height: auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #e4e3e3;
    margin: 2px;
    border-radius: 8px;
}
.retangulo-2 {
    width: 600px;
    height: auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #f0f0f0
    margin 2px;
    border-radius: 8px;
}
h1 {
    color: rgb(4, 4, 83);
    text-align: center;
    font-family: fantasy;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #dfdbdb;
}
h2 {
    color: rgb(66, 66, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    border: 2px solid;
    margin: 2px;
    border-radius: 8px;
}