.container-flex {
    display: flex;
    gap: 2px;
}
.retangulo {
    width: 1200;
    height: auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #f0f0f0;
    margin: 2px;
    border-radius: 8px;
}
.retangulo-interno {
    width: 1200px;
    height: auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #e4e3e3;
    margin: 2px;
    border-radius: 8px;
}
h1 {
     color: rgb(4, 4, 83);
    text-align: center;
    font-family: fantasy;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #dfdbdb;
}